@import '../../styles/variables';

.button {
  background-color: $color-primary;
  border: none;
  align-items: center;
  border-radius: 100px;
  color: $color-light;
  cursor: pointer;
  font-size: 1rem;
  padding: 8px 20px;
  font-family: $font-primary;
  box-shadow: 7px 8px 20px 3px rgba(98, 71, 170, 0.75);
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: $color-secondary;
    box-shadow: none;
  }
}
