@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Yeseva+One&display=swap');

// colors
$color-primary: rgb(98, 71, 170);
$color-secondary: #baa5ff;
$color-dark: #000103;
$color-light: #fffffa;

// fonts
$font-title: 'Yeseva One', cursive;
$font-primary: 'Poppins', sans-serif;
